@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>To see tools and framework used, <a href="https://docs.microsoft.com/aspnet/core">click here</a>.</p>*@
    <details>
        <summary>Click here to see techonologies used in this project</summary>
        <div class="container-fluid" style="margin-top: 20px;">
            <div class="row">
                <div class="col-lg-4">
                    <img src="/Images/vs.png"/>
                </div>
                <div class="col-lg-4">
                    <img src="/Images/js.png"/>                    
                </div>
                <div class="col-lg-4">
                    <img src="/Images/jQuery.png"/>                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <img src="/Images/html-css.png"/>
                </div>
                <div class="col-lg-4">
                    <img src="/Images/bootstrap.png"/>                    
                </div>
                <div class="col-lg-4">
                    <img src="/Images/net.png"/>                    
                </div>
            </div>
        </div>
    </details>
</div>
